common --enable_bzlmod
common --registry=file:///%workspace%/bazel/registry
common --registry=https://bcr.bazel.build
build --enable_platform_specific_config
build --incompatible_enable_cc_toolchain_resolution
build --incompatible_strict_action_env
build --enable_runfiles
build --@@boost.context+//:win-compile=win-mingw

# for ecsact_si_wasmer tests
# NOTE: we probably could use the wasmer from rules_wasmer for the tests instead
build --action_env=WASMER_DIR

# needed until https://github.com/emscripten-core/emsdk/pull/1333 or similar is merged
build --noincompatible_strict_action_env

common:ci --announce_rc
common:ci --verbose_failures
common:ci --keep_going
common:ci --disk_cache=~/.cache/bazel-disk-cache

common --//ecsact_cli:use_sdk_version

build:windows --workspace_status_command=bazel/tools/wsc.cmd
build:linux --workspace_status_command=bazel/tools/wsc.sh

try-import %workspace%/user.bazelrc
